.suggetion {
  display: flex;
  border: 1px solid #f5f5f5;
  height: 90px;
  width: 470px;
  align-items: center;
}
.picture {
  border-radius: 60px;
  padding: 25px;
  height: 60px;
  width: 60px;
}
.username {
  font-size: 16px;
  line-height: 26px;
}
.bio {
  font-size: 14px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 25px; /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.description {
  padding-right: 20px;
}
.btn-tyle {
  margin-left: auto;
}
.prev, .next {
 color: blue;
 align-items: center;
}

.next-prev{
    display: flex;
    justify-content: center;
}